<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yn.mapper.GeneralMapper" >
  <resultMap id="BaseResultMap" type="com.yn.entity.General" >
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="enable_redun" property="enableRedun" jdbcType="INTEGER" />
    <result column="IP1" property="ip1" jdbcType="VARCHAR" />
    <result column="IP2" property="ip2" jdbcType="VARCHAR" />
    <result column="IP3" property="ip3" jdbcType="VARCHAR" />
    <result column="modify" property="modify" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    project_name, enable_redun, IP1, IP2, IP3, modify
  </sql>
  <select id="selectByExample" resultType="java.util.LinkedHashMap" parameterType="com.yn.entity.GeneralExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from general
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="lastCount != null or lastCount == 0">
      limit #{lastCount} ,
      <if test="pageSize != null and pageSize != ''">
        #{pageSize}
      </if>
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.yn.entity.GeneralExample" >
    delete from general
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yn.entity.General" >
    insert into general (project_name, enable_redun, IP1, 
      IP2, IP3, modify)
    values (#{projectName,jdbcType=VARCHAR}, #{enableRedun,jdbcType=INTEGER}, #{ip1,jdbcType=VARCHAR}, 
      #{ip2,jdbcType=VARCHAR}, #{ip3,jdbcType=VARCHAR}, #{modify,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yn.entity.General" >
    insert into general
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="projectName != null" >
        project_name,
      </if>
      <if test="enableRedun != null" >
        enable_redun,
      </if>
      <if test="ip1 != null" >
        IP1,
      </if>
      <if test="ip2 != null" >
        IP2,
      </if>
      <if test="ip3 != null" >
        IP3,
      </if>
      <if test="modify != null" >
        modify,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="projectName != null" >
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="enableRedun != null" >
        #{enableRedun,jdbcType=INTEGER},
      </if>
      <if test="ip1 != null" >
        #{ip1,jdbcType=VARCHAR},
      </if>
      <if test="ip2 != null" >
        #{ip2,jdbcType=VARCHAR},
      </if>
      <if test="ip3 != null" >
        #{ip3,jdbcType=VARCHAR},
      </if>
      <if test="modify != null" >
        #{modify,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yn.entity.GeneralExample" resultType="java.lang.Integer" >
    select count(*) from general
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update general
    <set >
      <if test="record.projectName != null" >
        project_name = #{record.projectName,jdbcType=VARCHAR},
      </if>
      <if test="record.enableRedun != null" >
        enable_redun = #{record.enableRedun,jdbcType=INTEGER},
      </if>
      <if test="record.ip1 != null" >
        IP1 = #{record.ip1,jdbcType=VARCHAR},
      </if>
      <if test="record.ip2 != null" >
        IP2 = #{record.ip2,jdbcType=VARCHAR},
      </if>
      <if test="record.ip3 != null" >
        IP3 = #{record.ip3,jdbcType=VARCHAR},
      </if>
      <if test="record.modify != null" >
        modify = #{record.modify,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update general
    set project_name = #{record.projectName,jdbcType=VARCHAR},
      enable_redun = #{record.enableRedun,jdbcType=INTEGER},
      IP1 = #{record.ip1,jdbcType=VARCHAR},
      IP2 = #{record.ip2,jdbcType=VARCHAR},
      IP3 = #{record.ip3,jdbcType=VARCHAR},
      modify = #{record.modify,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>