<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yn.mapper.PointsMapper">
    <resultMap id="BaseResultMap" type="com.yn.entity.Points">
        <id column="name" property="name" jdbcType="VARCHAR"/>
        <result column="desc" property="desc" jdbcType="VARCHAR"/>
        <result column="c_dev" property="cDev" jdbcType="VARCHAR"/>
        <result column="c_devid" property="cDevid" jdbcType="INTEGER"/>
        <result column="c_inaddr" property="cInaddr" jdbcType="VARCHAR"/>
        <result column="c_intype" property="cIntype" jdbcType="VARCHAR"/>
        <result column="c_inbit" property="cInbit" jdbcType="INTEGER"/>
        <result column="f_dev" property="fDev" jdbcType="VARCHAR"/>
        <result column="f_devid" property="fDevid" jdbcType="INTEGER"/>
        <result column="f_inaddr" property="fInaddr" jdbcType="VARCHAR"/>
        <result column="f_intype" property="fIntype" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    name, desc, c_dev, c_devid, c_inaddr, c_intype, c_inbit, f_dev, f_devid, f_inaddr, 
    f_intype
  </sql>
    <select id="selectByExample" resultType="java.util.LinkedHashMap" parameterType="com.yn.entity.PointsExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from points
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="lastCount != null or lastCount == 0">
            limit #{lastCount} ,
            <if test="pageSize != null and pageSize != ''">
                #{pageSize}
            </if>
        </if>
    </select>

    <select id="selectByDriver" resultType="java.util.LinkedHashMap" parameterType="com.yn.entity.DevExample">
        SELECT DISTINCT dev_name from dev ;
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="lastCount != null or lastCount == 0">
            limit #{lastCount} ,
            <if test="pageSize != null and pageSize != ''">
                #{pageSize}
            </if>
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from points
        where name = #{name,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from points
    where name = #{name,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.yn.entity.PointsExample">
        delete from points
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.yn.entity.Points">
    insert into points (name, desc, c_dev, 
      c_devid, c_inaddr, c_intype, 
      c_inbit, f_dev, f_devid, 
      f_inaddr, f_intype)
    values (#{name,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR}, #{cDev,jdbcType=VARCHAR}, 
      #{cDevid,jdbcType=INTEGER}, #{cInaddr,jdbcType=VARCHAR}, #{cIntype,jdbcType=VARCHAR}, 
      #{cInbit,jdbcType=INTEGER}, #{fDev,jdbcType=VARCHAR}, #{fDevid,jdbcType=INTEGER}, 
      #{fInaddr,jdbcType=VARCHAR}, #{fIntype,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.yn.entity.Points">
        insert into points
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                name,
            </if>
            <if test="desc != null">
                desc,
            </if>
            <if test="cDev != null">
                c_dev,
            </if>
            <if test="cDevid != null">
                c_devid,
            </if>
            <if test="cInaddr != null">
                c_inaddr,
            </if>
            <if test="cIntype != null">
                c_intype,
            </if>
            <if test="cInbit != null">
                c_inbit,
            </if>
            <if test="fDev != null">
                f_dev,
            </if>
            <if test="fDevid != null">
                f_devid,
            </if>
            <if test="fInaddr != null">
                f_inaddr,
            </if>
            <if test="fIntype != null">
                f_intype,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="desc != null">
                #{desc,jdbcType=VARCHAR},
            </if>
            <if test="cDev != null">
                #{cDev,jdbcType=VARCHAR},
            </if>
            <if test="cDevid != null">
                #{cDevid,jdbcType=INTEGER},
            </if>
            <if test="cInaddr != null">
                #{cInaddr,jdbcType=VARCHAR},
            </if>
            <if test="cIntype != null">
                #{cIntype,jdbcType=VARCHAR},
            </if>
            <if test="cInbit != null">
                #{cInbit,jdbcType=INTEGER},
            </if>
            <if test="fDev != null">
                #{fDev,jdbcType=VARCHAR},
            </if>
            <if test="fDevid != null">
                #{fDevid,jdbcType=INTEGER},
            </if>
            <if test="fInaddr != null">
                #{fInaddr,jdbcType=VARCHAR},
            </if>
            <if test="fIntype != null">
                #{fIntype,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.yn.entity.PointsExample" resultType="java.lang.Integer">
        select count(*) from points
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update points
        <set>
            <if test="record.name != null">
                name = #{record.name,jdbcType=VARCHAR},
            </if>
            <if test="record.desc != null">
                desc = #{record.desc,jdbcType=VARCHAR},
            </if>
            <if test="record.cDev != null">
                c_dev = #{record.cDev,jdbcType=VARCHAR},
            </if>
            <if test="record.cDevid != null">
                c_devid = #{record.cDevid,jdbcType=INTEGER},
            </if>
            <if test="record.cInaddr != null">
                c_inaddr = #{record.cInaddr,jdbcType=VARCHAR},
            </if>
            <if test="record.cIntype != null">
                c_intype = #{record.cIntype,jdbcType=VARCHAR},
            </if>
            <if test="record.cInbit != null">
                c_inbit = #{record.cInbit,jdbcType=INTEGER},
            </if>
            <if test="record.fDev != null">
                f_dev = #{record.fDev,jdbcType=VARCHAR},
            </if>
            <if test="record.fDevid != null">
                f_devid = #{record.fDevid,jdbcType=INTEGER},
            </if>
            <if test="record.fInaddr != null">
                f_inaddr = #{record.fInaddr,jdbcType=VARCHAR},
            </if>
            <if test="record.fIntype != null">
                f_intype = #{record.fIntype,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update points
        set name = #{record.name,jdbcType=VARCHAR},
        desc = #{record.desc,jdbcType=VARCHAR},
        c_dev = #{record.cDev,jdbcType=VARCHAR},
        c_devid = #{record.cDevid,jdbcType=INTEGER},
        c_inaddr = #{record.cInaddr,jdbcType=VARCHAR},
        c_intype = #{record.cIntype,jdbcType=VARCHAR},
        c_inbit = #{record.cInbit,jdbcType=INTEGER},
        f_dev = #{record.fDev,jdbcType=VARCHAR},
        f_devid = #{record.fDevid,jdbcType=INTEGER},
        f_inaddr = #{record.fInaddr,jdbcType=VARCHAR},
        f_intype = #{record.fIntype,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.yn.entity.Points">
        update points
        <set>
            <if test="desc != null">
                desc = #{desc,jdbcType=VARCHAR},
            </if>
            <if test="cDev != null">
                c_dev = #{cDev,jdbcType=VARCHAR},
            </if>
            <if test="cDevid != null">
                c_devid = #{cDevid,jdbcType=INTEGER},
            </if>
            <if test="cInaddr != null">
                c_inaddr = #{cInaddr,jdbcType=VARCHAR},
            </if>
            <if test="cIntype != null">
                c_intype = #{cIntype,jdbcType=VARCHAR},
            </if>
            <if test="cInbit != null">
                c_inbit = #{cInbit,jdbcType=INTEGER},
            </if>
            <if test="fDev != null">
                f_dev = #{fDev,jdbcType=VARCHAR},
            </if>
            <if test="fDevid != null">
                f_devid = #{fDevid,jdbcType=INTEGER},
            </if>
            <if test="fInaddr != null">
                f_inaddr = #{fInaddr,jdbcType=VARCHAR},
            </if>
            <if test="fIntype != null">
                f_intype = #{fIntype,jdbcType=VARCHAR},
            </if>
        </set>
        where name = #{name,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yn.entity.Points">
    update points
    set desc = #{desc,jdbcType=VARCHAR},
      c_dev = #{cDev,jdbcType=VARCHAR},
      c_devid = #{cDevid,jdbcType=INTEGER},
      c_inaddr = #{cInaddr,jdbcType=VARCHAR},
      c_intype = #{cIntype,jdbcType=VARCHAR},
      c_inbit = #{cInbit,jdbcType=INTEGER},
      f_dev = #{fDev,jdbcType=VARCHAR},
      f_devid = #{fDevid,jdbcType=INTEGER},
      f_inaddr = #{fInaddr,jdbcType=VARCHAR},
      f_intype = #{fIntype,jdbcType=VARCHAR}
    where name = #{name,jdbcType=VARCHAR}
  </update>
</mapper>